
@{
    ViewData["Title"] = "Booked";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background-image: url("https://media.istockphoto.com/photos/3d-car-silhouette-on-black-background-picture-id176828532?k=20&m=176828532&s=612x612&w=0&h=dWI5Q4IMcMAp8JpgXAbpNaSdoRZe341o5n0ZxeK5Wjg=");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        color:white;
    }
</style>

<h1>Your car is booked successfully!</h1>

<h5>Have a safe journey...</h5>


